.profile__avatar-container {
  position: relative;
  cursor: pointer;
}

.profile__avatar-container::before,
.profile__avatar-container::after {
  content: '';
  position: absolute;
  opacity: 0;
  transition: 350ms ease;
}

.profile__avatar-container::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
}

.profile__avatar-container::after {
  background-image: url(../../../images/edit-avatar.svg);
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
}

.profile__avatar-container:hover::before {
  opacity: 0.8;
}

.profile__avatar-container:hover::after {
  opacity: 1;
}
