@font-face {
	src: url('../vendor/fonts/inter/Inter-Regular.woff');
  font-family: 'Inter-Regular';
}

@font-face {
	src: url('../vendor/fonts/inter/Inter-Medium.woff');
  font-family: 'Inter-Medium';
}

@font-face {
	src: url('../vendor/fonts/inter/Inter-Black.woff');
  font-family: 'Inter-Black';
}

.page {
  font-family: 'Arial', 'Helvetica', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  height: 100%;
}

.page__container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 45px 200px 60px;
  background-color: #000;
}

@media screen and (max-width: 1279px) {
  .page__container {
    padding: 45px 60px 60px;
  }
}

@media screen and (max-width: 1023px) {
  .page__container {
    padding: 45px 40px 60px;
  }
}

@media screen and (max-width: 767px) {
  .page__container {
    padding: 28px 19px 36px;
  }
}

.header {
  max-width: 880px;
  min-height: 74px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 56px;
  }
}

.header_margin {
  margin: 0 auto;
}

.logo {
  max-width: 142px;
  max-height: 33px;
}

@media screen and (max-width: 767px) {
  .logo {
    max-width: 103.74px;
    max-height: 24.4px;
    margin-left: 8px;
  }
}

.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
  }
}

.profile_margin {
  margin: 40px auto 0;
}

.profile__info {
  margin-left: 30px;
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin: 28.25px auto 0;
    text-align: center;
  }
}

.profile__title {
  font-family: 'Inter-Medium';
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  display: inline-block;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .profile__title {
    font-size: 27px;
    line-height: 32.68px;
    margin: 0 0 0 28px;
  }
}

.profile__edit-button {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-left: 18px;
  padding: 0;
  background-color: transparent;
  background-image: url(../images/edit-button.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}

.profile__subtitle {
  font-family: 'Inter-Regular';
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 10px 0 0;
}

@media screen and (max-width: 767px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin: 9px 0 0;
  }
}

.profile__add-button {
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  width: 100%;
  max-width: 150px;
  min-height: 50px;
  padding: 0;
  background-color: transparent;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  cursor: pointer;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    margin: 32px auto 0;
    max-width: 282px;
  }
}

.cards {
  max-width: 880px;
}

.cards_margin {
  margin: 50px auto 0;
}

@media screen and (max-width: 767px) {
  .cards_margin {
    margin: 36px auto 0;
  }
}

.cards__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 17px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 282px;
}

.card__img {
  width: 100%;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 246px;
  margin: 23px 15px 27px 21px;
}

.card__title {
  display: inline-block;
  font-family: 'Inter-Black';
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0;
  max-width: 197px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__icon {
  width: 22px;
  height: 19px;
  background-image: url(../images/heart.svg);
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.card__icon_active {
  background-image: url(../images/heart-active.svg);
}

.card__icon:hover {
  opacity: 0.5;
}

.footer {
  max-width: 880px;
}

.footer_margin {
  margin: 67px auto 0;
}

@media screen and (max-width: 767px) {
  .footer_margin {
    margin: 48px auto 0;
  }
}

.footer__text {
  font-family: 'Inter-Regular';
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
  }
}



